// ========== CSS RESET ==========

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    min-height: 100vh;
    background-color: hsl(185, 41%, 84%); // Light grayish cyan
    font-family: 'Space Mono', monospace;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font-family: 'Space Mono', monospace;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  ul, li, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Space Mono', monospace;
    vertical-align: baseline;
  }
  
  #root, #__next {
    isolation: isolate;
  }
  
  // ========== GOOGLE FONT ==========
  @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
  
  // ========== SASS PARTIALS ==========
  // @use 'variables';
  // @use 'base';
  // etc.

// ========== COLORS ==========
$color-white: hsl(0, 0%, 100%);
$color-light-grayish-cyan: hsl(189, 47%, 97%);
$color-dark-grayish-cyan: hsl(184, 14%, 56%);
$color-very-dark-grayish-cyan: hsl(186, 14%, 43%);
$color-very-dark-cyan: hsl(183, 100%, 15%);
$color-strong-cyan: hsl(172, 67%, 45%);

  // ========== MAIN STYLES ==========

  .container {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    background-color: $color-white;
    padding: 24px;
    border-radius: 24px;
  }

  header {
    display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;  
  }

  .bill {
    label {
        display: block;
        color: $color-very-dark-grayish-cyan;
        font-weight: 700;
    }
  }


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }



  