@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100vh;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", monospace;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font-family: "Space Mono", monospace;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul, li, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Space Mono", monospace;
  vertical-align: baseline;
}

#root, #__next {
  isolation: isolate;
}

header img {
  width: 87px;
  height: 53px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 40px 0;
}

.container {
  padding: 32px 24px 32px 24px;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
}

.bill label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}
.bill .input-wrapper {
  position: relative;
}
.bill .input-wrapper input {
  width: 100%;
  padding: 8px 16px 8px 40px;
  border: none;
  text-align: right;
  font-weight: 700;
  background-color: hsl(189, 47%, 97%);
  color: hsl(183, 100%, 15%);
  border-radius: 3px;
}
.bill .input-wrapper input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}
.bill .input-wrapper input::placeholder {
  color: hsl(184, 14%, 56%);
}
.bill .input-wrapper input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.bill .input-wrapper .input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  pointer-events: none;
}

input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tip label {
  display: block;
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 32px;
}
.tip .tip-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.tip .tip-button {
  width: 147px;
  padding: 8px 16px;
  border-radius: 3px;
  border: none;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.tip .tip-button:hover {
  background-color: hsl(189, 47%, 97%);
  color: hsl(186, 14%, 43%);
}
.tip .tip-button--active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
.tip .tip-custom {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.tip .tip-custom::-moz-placeholder {
  color: hsl(186, 14%, 43%);
}
.tip .tip-custom::placeholder {
  color: hsl(186, 14%, 43%);
}
.tip .tip-custom:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

.number-of-people {
  margin-bottom: 32px;
  margin-top: 32px;
}
.number-of-people label {
  color: hsl(186, 14%, 43%);
  font-size: 16px;
  font-weight: 700;
}
.number-of-people .error-msg {
  color: hsl(13, 70%, 60%);
  font-weight: 700;
  font-size: 12px;
  display: none;
}
.number-of-people .error-msg--visible {
  display: block;
}
.number-of-people .input-wrapper {
  position: relative;
  margin-top: 8px;
}
.number-of-people .input-wrapper input {
  width: 100%;
  padding: 8px 16px 8px 40px;
  border-radius: 8px;
  border: none;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  background-color: hsl(189, 47%, 97%);
  color: hsl(183, 100%, 15%);
}
.number-of-people .input-wrapper input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}
.number-of-people .input-wrapper input::placeholder {
  color: hsl(184, 14%, 56%);
}
.number-of-people .input-wrapper input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.number-of-people .input-wrapper input.error {
  outline: 2px solid hsl(13, 70%, 60%);
}
.number-of-people .input-wrapper input.error:focus {
  outline: 2px solid hsl(13, 70%, 60%);
}
.number-of-people .input-wrapper .input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.results {
  margin-bottom: 32px;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 24px;
  border-radius: 16px;
}
.results .result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.results .result-item:last-of-type {
  margin-bottom: 32px;
}
.results .result-item .result-item-label {
  font-size: 16px;
  font-weight: 700;
}
.results .result-item .result-item-label span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: hsl(184, 14%, 56%);
}
.results .result-item .result-item-value {
  font-size: 32px;
  font-weight: 700;
  color: hsl(172, 67%, 45%);
}
.results .reset-button {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.results .reset-button:hover {
  background-color: hsl(189, 47%, 97%);
}
.results .reset-button:disabled {
  background-color: hsl(183, 100%, 25%);
  color: hsl(186, 14%, 43%);
  opacity: 0.35;
  cursor: not-allowed;
}

footer.attribution {
  text-align: center;
  margin-top: 32px;
  font-size: 13px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
}/*# sourceMappingURL=main.css.map */